<ion-content class="ion-padding">
  <div class="container">
    <h1 class="titulo-principal">EMPLEADOS REGISTRADOS</h1>

    <div class="barra-busqueda">
      <ion-input
        [(ngModel)]="busqueda"
        placeholder="Buscar empleado..."
        class="custom-searchbar"
      ></ion-input>

      <ion-button fill="solid" (click)="buscar()">
        Buscar
      </ion-button>

      <ion-button fill="solid" (click)="limpiar()">
        Limpiar
      </ion-button>

      <ion-button fill="solid" (click)="agregarNuevo()">
        + Nuevo
      </ion-button>
    </div>

    <div class="tabla-container">
      <table class="tabla-estudiantes">
        <thead>
          <tr>
            <th>CLAVE</th>
            <th>NOMBRE</th>
            <th>APELLIDO PATERNO</th>
            <th>APELLIDO MATERNO</th>

            <th>ACCION</th>
          </tr>
        </thead>
        <tbody>
          <tr 
            *ngFor="let estudiante of paginaActualDatos(); let i = index" 
            [class.fila-par]="i % 2 === 0"
            [class.fila-impar]="i % 2 !== 0"
          >
            <td>{{ estudiante.clavePresupuestal }}</td>
            <td>{{ estudiante.nombre }}</td>

            <td>{{ estudiante.apellidoPaterno }} </td>
            <td>{{ estudiante.apellidoMaterno }}</td>
            <td class="columna-acciones">
              <ion-button fill="clear" size="small" (click)="editarEstudiante(estudiante)">
                <ion-icon slot="icon-only" name="create-outline"></ion-icon>
              </ion-button>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="estudiantesFiltrados.length === 0" class="no-resultados">
        <p>No se encontraron estudiantes</p>
      </div>
      <div class="paginacion" *ngIf="totalPaginas > 1">
        <button (click)="irPrimera()" [disabled]="paginaActual === 1">«</button>
        <button (click)="paginaAnterior()" [disabled]="paginaActual === 1">‹</button>

        <button 
          *ngFor="let pagina of paginasArray"
          [class.activa]="paginaActual === pagina"
          (click)="irPagina(pagina)"
        >
          {{ pagina }}
        </button>

        <button (click)="paginaSiguiente()" [disabled]="paginaActual === totalPaginas">›</button>
        <button (click)="irUltima()" [disabled]="paginaActual === totalPaginas">»</button>
      </div>
    </div>
  </div>
</ion-content>

<app-loading></app-loading>
