<div class="modal-container">

  <div class="modal-scroll">

    <h2 class="modal-titulo">Regresar Préstamo</h2>

    <form class="formulario">

      <div class="form-group">
      <ion-label>Usuario</ion-label>

        <ion-input
          [value]="prestamoEditar.nombreUsuario + ' ' + prestamoEditar.apellidoPaterno + ' ' + prestamoEditar.apellidoMaterno"
          label="Usuario"
          labelPlacement="floating"
          readonly
          class="custom-input"
        ></ion-input>
      </div>

     

      

      <div class="form-group">
      <ion-label>Titulo Libro</ion-label>

        <ion-input
          [value]="prestamoEditar.libroTitulo"
          label="Libro"
          labelPlacement="floating"
          readonly
          class="custom-input"
        ></ion-input>
      </div>

      <div class="form-group">
      <ion-label>Cantidad Prestada</ion-label>

        <ion-input
          [(ngModel)]="prestamoEditar.cantidad"
          name="cantidad"
          type="number"
          label="Cantidad"
          labelPlacement="floating"
          class="custom-input"
          [max]="cantidadOriginal"
          (ionInput)="validarCantidad()"
        ></ion-input>
      </div>

      <div class="form-group">
      <ion-label>Fecha Prestamo</ion-label>

        <ion-input
          [value]="prestamoEditar.fechaPrestamo"
          label="Fecha Préstamo"
          labelPlacement="floating"
          readonly
          class="custom-input"
        ></ion-input>
      </div>

      <div class="form-group">
      <ion-label>Fecha devolución</ion-label>

        <ion-input
          [(ngModel)]="prestamoEditar.fechaDevolucion"
          name="fechaDevolucion"
          type="date"
          label="Fecha Devolución"
          labelPlacement="floating"
          class="custom-input"
        ></ion-input>
      </div>

    </form>

  </div>

   <div class="botones-container">
      <ion-button fill="outline" class="btn-cancelar" (click)="cerrarModal()">
        Cancelar
      </ion-button>

      <ion-button fill="solid" class="btn-aceptar" (click)="aceptar()">
        Aceptar
      </ion-button>
    </div>

 

</div>
