<div class="modal-container">

  <ion-button fill="clear" class="btn-cerrar" (click)="cerrarModal()">
    <ion-icon slot="icon-only" name="close"></ion-icon>
  </ion-button>

  <h2 class="modal-titulo">
    {{ estudiante.id ? 'Editar Estudiante' : 'Registrar Estudiante' }}
  </h2>

  <form class="formulario">

    <div class="form-group">
      <ion-input [(ngModel)]="estudiante.matricula" name="matricula" placeholder="Matrícula"></ion-input>
    </div>

    <div class="form-group">
      <ion-input [(ngModel)]="estudiante.nombre" name="nombre" placeholder="Nombre"></ion-input>
    </div>

    <div class="form-group">
      <ion-input [(ngModel)]="estudiante.apellidoPaterno" name="apellidoPaterno" placeholder="Apellido paterno"></ion-input>
    </div>

    <div class="form-group">
      <ion-input [(ngModel)]="estudiante.apellidoMaterno" name="apellidoMaterno" placeholder="Apellido materno"></ion-input>
    </div>

    <div class="form-group">
      <ion-input [(ngModel)]="estudiante.email" name="email" type="email" placeholder="Correo electrónico"></ion-input>
    </div>

    <div *ngIf="activar" class="form-group">
      <ion-input [(ngModel)]="estudiante.password" name="password" type="password" placeholder="Contraseña"></ion-input>
    </div>

    <div class="form-group">
      <ion-input [(ngModel)]="estudiante.fechaNacimiento" name="fechaNacimiento" type="date"></ion-input>
    </div>

    <div class="form-group">
      <ion-select [(ngModel)]="estudiante.sexo" name="sexo">
        <ion-select-option value="MASCULINO">Masculino</ion-select-option>
        <ion-select-option value="FEMENINO">Femenino</ion-select-option>
      </ion-select>
    </div>

   
    
    <div class="estado-toggle">
      <span>Estatus:</span>
      <ion-toggle [(ngModel)]="estudiante.estatus" name="estatus"
        [checked]="estudiante.estatus === 'ACTIVO'"
        (ionChange)="estudiante.estatus = $event.detail.checked ? 'ACTIVO' : 'INACTIVO'">
      </ion-toggle>
    </div>

    <div class="botones-container">
      <ion-button fill="outline" (click)="cerrarModal()">Cancelar</ion-button>
      <ion-button fill="solid" (click)="aceptar()">Aceptar</ion-button>
    </div>

  </form>
</div>
