<ion-content class="fondo">

  <h1 class="titulo">Catálogo de Libros de la {{categoria}}</h1>

  <ion-button expand="block" (click)="regresarCategorias()">
    ← Volver a Categorías
  </ion-button>

  <div class="libros-grid" *ngIf="libros && libros.length > 0; else noLibros">
    <div class="book-card" *ngFor="let libro of libros">
      <div class="book">
        <img class="cover" 
             [src]="'data:image/jpeg;base64,' + libro.imagen"
             alt="Portada del libro">
        <div class="book-lomo"></div>
      </div>

      <div class="info">
        <h2 class="titulo-libro">{{ libro.titulo }}</h2>
        <p class="autor">
          Autores: {{ libro.autores.join(', ') }}
        </p>
      
        <p class="sinopsis">
          Sipnosis: {{ libro.sinopsis }}
        </p>
        <p class="copias">
          Disponibles: <strong>{{ libro.copiasDisponibles }}</strong>
        </p>
      </div>
    </div>
  </div>

  <ng-template #noLibros>
    <p style="text-align: center; margin-top: 30px; font-weight: bold; color: #555;">
      No hay registros de libros en esta categoría.
    </p>
  </ng-template>

</ion-content>
